.welcome-message {
    font-family: serif;
    font-weight: 500;
    font-size: x-large;
}
.header-container {
    display: flex;
    width: 100%;
}
.mat-toolbar-single-row {
    justify-content: space-between;
    // background: black;
    background: left;
    color: #E6E6FA;
}
.mat-icon-button {
    margin-left: 3rem !important;
}
img {
    height: 100%;
    cursor: pointer;
}
a {
    height: 120%;
}