/* You can add global styles to this file, and also import other style files */
@import "./spinner.scss";

html, body { 
    height: -webkit-fill-available;  
    width: 100%;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;font-family: serif;
    color: #FFFAF0;
    background: linear-gradient(-45deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);;
    background-size: 500% 500%;
    position: relative;
    animation: animate 7.5s ease-in-out infinite;
    justify-content: center;
    align-items: center;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.mat-icon {
    cursor: pointer;
}

.page-title {
    justify-content: center;
    display: flex;
    font-family: serif;
    font-family: serif;
    font-style: italic;
    font-size: 55px;
    color: #FFFAF0;
    height: 10%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.font-style-large {
    font-size: large;
    font-weight: 600;
}
.font-style-bold {
    font-weight: bolder;
    font-size: large;
}
.font-medium {
    font-size: 15px;
    font-weight: 600;
}
.font-bolder {
    font-size: x-large;
    font-weight: bolder;
}
.no-bkg {
    background: none;
}
.bkg-sections {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}
.font-mono-bold {
    font-family: monospace;
    font-size: 1rem;
    font-weight: bolder;
}
.font-smaller {
    font-size:smaller;
    font-weight: 300;
}
